.example-container {
    width: 100%;
    min-height: 748px;
  }
.sidebar {
  left: 0;
  width: 274px;
  background: #379dcc;
  font-family: Lato,Roboto,"Helvetica Neue",sans-serif;
  position: fixed;
}
.matNavList {
  margin-top: 56px;
}
.list-item {
  width: 100px;
  height: 100px;
}
.a-border {
  border-bottom: 1px solid #fff
}
.toolbar-header {
  height: 66px;
  border-bottom: 1px solid;
  background-color: #2596c8;
  font-weight: normal;
  padding: 0;
  z-index: 9;
  position: fixed;
}
.toolbar-logo {
  padding: 0;
  z-index: 9;
  position: fixed;
}