<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="sidebar">
      <mat-toolbar class="toolbar-logo">
          <mat-toolbar-row>
            <div class="brand-holder">
              <span class="brand-title">Events List</span>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
    <mat-nav-list class="matNavList">
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(1)">Event Type 1</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(2)">Event Type 2</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(3)">Event Type 3</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(4)">Event Type 4</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(5)">Event Type 5</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(6)">Event Type 6</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(7)">Event Type 7</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(8)">Event Type 8</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(9)">Event Type 9</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(10)">Event Type 10</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(11)">Event Type 11</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(12)">Event Type 12</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(13)">Event Type 13</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(14)">Event Type 14</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(15)">Event Type 15</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(16)">Event Type 16</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(17)">Event Type 17</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(18)">Event Type 18</a>
      <a class="a-border" mat-list-item routerLink='/list' (click)="changeRoute(19)">Event Type 19</a>
    </mat-nav-list>
    <!-- <mat-nav-list>
      <div *ngFor="let link of navLinks" >
          <mat-list-item class="list-item">
              <a matLine  (click)="changeRoute(link)">{{ link.name }}</a>
            </mat-list-item>
      </div>
      </mat-nav-list> -->
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="toolbar-header">
          <mat-toolbar-row>
            <div class="brand-holder">
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>