<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.eventName" >
    <!-- <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button> -->

        <mat-list>
      <div *ngFor="let desc of tab.desc;">
            <mat-list-item class="list-item">  
             <div class="div-1"> {{desc.timeStamp}}</div> 
             <div>
                {{desc.raw}}
             </div>
            </mat-list-item>
    </div>

           </mat-list>
  </mat-tab>
</mat-tab-group>